:root {
    font-family: "Roboto", sans-serif;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
}

th .title {
    margin: 0;
}

th .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    display: flex;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button.danger {
    color: red;
}

th:first-child {
    width: 200px;
    max-width: 200px;
}

th .habit-title {
    padding: 1px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

td.checked {
    background-color: green;
}

th.today {
    background-color: yellowgreen;
}